* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(234, 234, 234);
}

.form {
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: 5px;
    padding: 15px;
}

.card-top {
    text-align: center;
}

.card-top > p {
    margin-top: 10px;
}

.card-top > img {
    width: 50%;
    height: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.card-top > hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-group > input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.card-group2 > input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 7px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.btn {
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 900;
    border: 1px solid #ccc;
    border-radius: 15px;
}